$orange-color: #D8315B;
$gray-color: #FFFAFF;
$black-color: #1E1B18;
$yellow-color: #FFB703;

html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.orange-text {
    color: $orange-color;
}

.container {
    font-size: 1.7rem;
    font-weight: 600;

    p {
        font-weight: 400;
    }
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    font-weight: 600;
    color: white;

    a {
        text-decoration: none;
        color: white;
        transition: color 0.7s ease;
    }

    a:hover {
        color: $yellow-color;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            padding: 1rem 1.5rem;
            align-self: center;
        }
    }

    button {
        background-color: $orange-color;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        transition: 0.5s ease;
    }

    button:hover {
        background-color: $yellow-color;
        cursor: pointer;
    }
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    position: relative;

    #bg1,
    #bg2,
    #bg3,
    #bg4,
    #bg5 {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }

    #bg5 {
        object-fit: contain;
    }

    #hero-intro {
        font-size: 1.8vw;
        font-weight: 500;
        margin: 1vw 0;
    }

    h1 {
        font-size: 3vw;
    }

    p {
        font-size: 1.8rem;
        font-weight: 400;
        padding-right: 5rem;
        margin: 1vw 0;
    }

    .container {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 50%;

        .social-icons {
            display: flex;

            .hpicon {
                width: 35px;
                height: auto;
                border-radius: 0;
                padding: 0.5rem;
                transition: 0.5s;
            }

            .hpicon:hover {
                filter: drop-shadow(0 0 0.25rem white);
            }
        }

        img {
            max-width: 80%;
            height: auto;
            border-radius: 2rem;
        }
    }

    .l-c {
        align-items: flex-start;
        padding-right: 1.5rem;
    }

    .r-c {
        align-items: flex-end;
        padding-left: 1.5rem;

        .d-award {
            background-color: white;
            position: absolute;
            top: -3vw;
            right: -2.5vw;
            padding: 1.5rem 2rem;


            #hero-deco {
                border-radius: 0;
                height: 4vw;
                width: auto;
            }
        }
    }

    .dynamic-block {
        color: $black-color;
        background-color: $gray-color;
        height: 4vw;
        display: flex;
        justify-content: center;
        border-radius: 0.8rem;
    }

    .d-xp {
        position: absolute;
        left: 3rem;
        top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;


        .y {
            font-size: 3.5vw;
            color: $orange-color;
            text-align: center;
            margin-right: 0.5vw;
        }

        .experience-text {
            font-size: 1.2vw;
            font-weight: 700;
            text-align: left;
            padding: 0;
        }
    }

    .d-pj {
        position: absolute;
        right: -8rem;
        bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;

        .p {
            font-size: 3.5vw;
            color: $orange-color;
            text-align: center;
            margin-right: 0.5vw;
        }

        .experience-text {
            font-size: 1.2vw;
            font-weight: 700;
            text-align: left;
            padding: 0;
        }
    }
}

.values {
    height: 70vh;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 1;

    .value-box {
        width: 30%;
        display: flex;
        flex-direction: column;

        .title-v {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .n-v {
                .n {
                    color: $orange-color;
                }

                .v {
                    margin-top: 0.5vw;
                }
            }

            .icon-v {
                width: 30%;
                display: flex;
                justify-content: flex-end;

                img {
                    width: 50%;
                }
            }
        }

        .separator {
            background-color: $black-color;
            height: 1px;
            width: 100%;
            border-radius: 50px;
            margin: 2.5vw 0;
        }
    }
}

.about {
    position: relative;
    z-index: 2;
    background-color: white;
    height: 70vh;
    display: flex;
    align-items: center;

    img {
        max-width: 70%;
        height: auto;
        border-radius: 2rem;
    }

    .l-c {
        position: relative;
    }

    .r-c {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
           margin-bottom: 0.5rem;
           font-size: 2rem; 
        }

        h4 {
            font-size: 2.5rem; 
        }

        button {
            background-color: $orange-color;
            border: none;
            border-radius: 5rem;
            width: 50%;
            font-size: 1.8rem;
            font-weight: 600;
            color: white;
            padding: 1.2rem 2rem;
        }
    }

    #ab-fl-ps {
        position: absolute;
        max-width: 12%;
        height: auto;
        border-radius: 0;
        right: 18vw;
        top: -3vw;
    }

    #ab-fl-il {
        position: absolute;
        max-width: 9%;
        height: auto;
        border-radius: 0;
        right: 9vw;
        top: -7vw;
    }

    #ab-fl-rct {
        position: absolute;
        max-width: 10%;
        height: auto;
        border-radius: 0;
        left: -5vw;
        bottom: 5vw;
    }

    #ab-fl-css {
        position: absolute;
        max-width: 8%;
        height: auto;
        border-radius: 0;
        bottom: -5vw;
        left: -3vw;
    }

    #ab-fl-js {
        position: absolute;
        max-width: 10%;
        height: auto;
        border-radius: 0;
        bottom: -1.5vw;
        left: 3vw;
    }

    #ab-fl-unity {
        position: absolute;
        max-width: 18%;
        height: auto;
        border-radius: 0;
        right: 6vw;
        top: 1vw;
    }

}

.hidden {
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.4s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.value-box:nth-child(2) {
    transition-delay: 250ms;
}

.value-box:nth-child(3) {
    transition-delay: 450ms;
}

.pop-effect {
    transform: scale(0.01);
    transition: all 1s;
}

.pop-active {
    transform: scale(1);
}

.s-logo:nth-child(1) {
    transition-delay: 250ms;
}

.s-logo:nth-child(2) {
    transition-delay: 500ms;
}

.s-logo:nth-child(3) {
    transition-delay: 100ms;
}

.s-logo:nth-child(4) {
    transition-delay: 10ms;
}

.s-logo:nth-child(5) {
    transition-delay: 300ms;
}

.s-logo:nth-child(6) {
    transition-delay: 420ms;
}